@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.heroPic {
  background-image: url("hero-picture.png");

  background-size: cover;
  height: 100vh;

}

@media screen and (max-width: 767px) {
  .heroPic {
    height: 50vh;
  }
}
